[Desktop Entry]
Encoding=UTF-8
Type=Link
X-Enlightenment-Type=Removable
X-Enlightenment-Removable-State=Full
Name=BIGCOMMUNITY_LIVE_BASE
Icon=drive-optical
Comment=Dispositivo removível
URL=file://dev/sr0
